body{
  text-align: center;
  font-size:25px ;
  justify-content: center;
}
main{
  background-color: beige;
  width: 40rem;
  height: auto;
  margin: auto;
  border-radius:2% ;
  padding-bottom: 2rem;
}
#to_do{
width:20rem ;
}
#thinks_to_do{
  margin-left: 5rem;
  margin-right: 5rem;
  background-color:antiquewhite;
  border-radius: 2%;
  margin-bottom: 2rem;
}

main p{
  margin-top:2rem ;
}
#thinks_to_do div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#thinks_to_do div img{
height: 3rem;
}